/**
 * Snax plugin integration
 */
.snax .snax-item {
  position: relative; }

.snax .snax-item-title {
  margin-bottom: 1rem; }
  .snax .snax-item-title > a {
    color: inherit; }
    .snax .snax-item-title > a:after {
      float: right;
      margin-left: 8px;
      font: normal 25px "snaxicon";
      line-height: inherit;
      content: "\e002";
      opacity: 0.2; }
    .snax .snax-item-title > a:hover:after {
      opacity: 0.999; }

.snax .snax-item-parent {
  margin-top: -1.25em; }

.snax .snax-item-meta {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px; }
  .snax .snax-item-meta strong {
    font-weight: 500; }
  .snax .snax-item-meta .snax-item-date {
    font-size: 13px; }

.snax .snax-item-share {
  text-align: center; }

.snax .snax-voting .snax-voting-score {
  font-size: 13px; }

@media only screen and (max-width: 1024px) {
  .snax .snax-voting .snax-voting-score strong {
    font-size: 16px; } }

.snax .snax-voting-large .snax-voting-score strong {
  display: block; }

.snax .snax-item-author > a {
  color: #000; }

.snax .snax-action-link {
  color: inherit; }

.snax .snax-media-upload {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px; }

@media only screen and (min-width: 1025px) {
  .entry-tpl-feat-stickies .entry-actions,
  .entry-tpl-feat-stickies .snax-item-actions,
  .entry-tpl-index-stickies .entry-actions,
  .entry-tpl-index-stickies .snax-item-actions {
    border-top-width: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .entry-tpl-feat-stickies .entry-actions .snax-item-share,
    .entry-tpl-feat-stickies .snax-item-actions .snax-item-share,
    .entry-tpl-index-stickies .entry-actions .snax-item-share,
    .entry-tpl-index-stickies .snax-item-actions .snax-item-share {
      width: 100%; }
    .entry-tpl-feat-stickies .entry-actions .snax-voting-simple,
    .entry-tpl-feat-stickies .snax-item-actions .snax-voting-simple,
    .entry-tpl-index-stickies .entry-actions .snax-voting-simple,
    .entry-tpl-index-stickies .snax-item-actions .snax-voting-simple {
      display: block;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-right: 0; }
      .entry-tpl-feat-stickies .entry-actions .snax-voting-simple .snax-voting-upvote,
      .entry-tpl-feat-stickies .entry-actions .snax-voting-simple .snax-voting-downvote,
      .entry-tpl-feat-stickies .snax-item-actions .snax-voting-simple .snax-voting-upvote,
      .entry-tpl-feat-stickies .snax-item-actions .snax-voting-simple .snax-voting-downvote,
      .entry-tpl-index-stickies .entry-actions .snax-voting-simple .snax-voting-upvote,
      .entry-tpl-index-stickies .entry-actions .snax-voting-simple .snax-voting-downvote,
      .entry-tpl-index-stickies .snax-item-actions .snax-voting-simple .snax-voting-upvote,
      .entry-tpl-index-stickies .snax-item-actions .snax-voting-simple .snax-voting-downvote {
        display: block;
        margin: 0; }
      .entry-tpl-feat-stickies .entry-actions .snax-voting-simple .snax-voting-score,
      .entry-tpl-feat-stickies .snax-item-actions .snax-voting-simple .snax-voting-score,
      .entry-tpl-index-stickies .entry-actions .snax-voting-simple .snax-voting-score,
      .entry-tpl-index-stickies .snax-item-actions .snax-voting-simple .snax-voting-score {
        display: block;
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
        margin: 0; }
        .entry-tpl-feat-stickies .entry-actions .snax-voting-simple .snax-voting-score strong,
        .entry-tpl-feat-stickies .snax-item-actions .snax-voting-simple .snax-voting-score strong,
        .entry-tpl-index-stickies .entry-actions .snax-voting-simple .snax-voting-score strong,
        .entry-tpl-index-stickies .snax-item-actions .snax-voting-simple .snax-voting-score strong {
          font-size: 20px; } }

.fixedsticky-on + .fixedsticky-dummy {
  display: none !important; }

.g1-arrow {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 24px;
  padding: 0 10px;
  position: relative;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-color: #b2b2b2;
  background-color: #b2b2b2;
  color: #fff; }
  .g1-arrow:after {
    display: block;
    border-width: 12px 5px;
    position: absolute;
    left: 100%;
    top: 0;
    border-style: solid;
    border-color: inherit;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    content: ""; }
  .g1-arrow > span {
    display: inline-block;
    vertical-align: middle; }

.g1-arrow-left:before {
  display: block;
  border-width: 12px 10px;
  position: absolute;
  right: 100%;
  top: 0;
  border-style: solid;
  border-color: inherit;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
  content: ""; }

.g1-arrow-left:after {
  display: none; }

@media only screen and (min-width: 601px) {
  .g1-arrow {
    width: 100px;
    height: 48px;
    line-height: 1.125;
    line-height: 48px;
    line-height: 46px; }
    .g1-arrow:before, .g1-arrow:after {
      border-width: 24px 10px; }
    .g1-arrow > span {
      line-height: 18px;
      word-spacing: 666px; } }

.snax-bar {
  display: block;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  font-size: 16px;
  line-height: 20px; }
  .snax-bar:after {
    display: table;
    clear: both;
    content: ""; }
  .snax-bar .g1-arrow {
    margin-right: 20px; }
  .snax-bar .snax-li-count-0 {
    overflow: hidden;
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px); }

.snax-bar-details {
  display: block;
  padding: 5px 0; }

.snax-bar-details-top {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.snax-bar-details-bottom {
  font-size: 13px;
  line-height: 18px; }

.snax-list-collection {
  margin: 0;
  padding: 0;
  list-style: none; }

@media only screen and (min-width: 601px) {
  .snax-bar .g1-arrow {
    float: left; }
  .snax-bar .snax-bar-details {
    overflow: hidden; } }

.snax .snax-form-main-title {
  overflow: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px); }

.snax .snax-status-approved:before {
  display: inline-block;
  margin-right: 0.333em;
  vertical-align: middle;
  font: 16px/0.5 "bunchicon";
  content: "\e024";
  color: #6f9a37; }

.snax .snax-status-pending:before {
  display: inline-block;
  margin-right: 0.333em;
  vertical-align: middle;
  font: 16px/0.5 "bunchicon";
  content: "\e024"; }

.snax .snax-item-nav {
  margin: 1.5em 0; }

.snax .snax-item-prev {
  float: left;
  width: 49%;
  margin: 0 0 0.5em;
  width: calc( 50% - 5px - 10px);
  margin-left: calc( 10px); }
  .snax .snax-item-prev:before {
    margin-right: 0;
    content: ""; }

.snax .snax-item-next {
  float: right;
  width: 49%;
  margin: 0 0 0.5em;
  width: calc( 50% - 5px - 10px);
  margin-right: calc( 10px); }
  .snax .snax-item-next:after {
    margin-left: 0;
    content: ""; }

.snax .snax-item-back {
  display: table;
  clear: both;
  margin: 0.5em auto; }

.snax span.snax-item-prev,
.snax span.snax-item-next {
  color: transparent;
  opacity: 0.333; }

.snax .snax-tabs-nav .snax-tabs-nav-item {
  border-color: #e6e6e6;
  border-bottom-color: #ccc;
  background-color: #e6e6e6;
  color: #999;
  font-size: 14px;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  letter-spacing: 0.05em; }
  .snax .snax-tabs-nav .snax-tabs-nav-item:first-child, .snax .snax-tabs-nav .snax-tabs-nav-item:last-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }

.snax .snax-tabs-nav .snax-tabs-nav-item-current {
  position: relative;
  border-color: #ccc;
  border-bottom-color: transparent;
  background-color: transparent;
  color: #666; }

.snax .snax-item-embed-code blockquote {
  margin-left: 0; }

/* CTA widget */
.snax-widget-cta {
  position: relative;
  padding: 20px 20px 1px;
  text-align: center; }
  .snax-widget-cta .widgettitle {
    overflow: hidden;
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px); }
  .snax-widget-cta:before {
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    background-color: currentColor;
    opacity: 0.0833; }
  .snax-widget-cta:after {
    display: block;
    margin-top: 19px;
    content: ""; }

@media only screen and (min-width: 1025px) {
  .snax-widget-cta {
    padding: 30px 30px 1px; }
    .snax-widget-cta:after {
      margin-top: 29px; } }

.snax-cta-body:before {
  display: inline-block;
  margin-bottom: 0.25em;
  font: 51px/1 "bunchicon";
  content: "\e022"; }

.snax-cta-body .g1-button {
  width: 100%; }

.snax {
  /* Formats */ }
  .snax .snax-note-success {
    padding-top: 2.5em;
    padding-bottom: 1px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #8cbe4b;
    color: white;
    color: rgba(255, 255, 255, 0.666); }
    .snax .snax-note-success:after {
      display: block;
      margin-top: 2.5em;
      content: ""; }
    .snax .snax-note-success .snax-note-icon {
      background-color: #fff;
      color: #8cbe4b; }
    .snax .snax-note-success .snax-note-title {
      color: #fff;
      margin-bottom: 0.25em; }
    .snax .snax-note-success a {
      color: #fff; }
  .snax .snax-formats .snax-format-icon,
  .snax .snax-formats .snax-format-label,
  .snax .snax-formats .snax-format-desc {
    -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.3s ease-in-out; }
  .snax .snax-formats .snax-format:hover .snax-format-label {
    color: inherit; }
  .snax .snax-formats .snax-format:hover .snax-format-desc {
    color: inherit;
    opacity: 0.75; }
  .snax .snax-formats .snax-format-desc {
    opacity: 0.999; }
  @media only screen and (min-width: 769px) {
    .snax .snax-formats-3 > li {
      width: 33.33333%; }
    .snax .snax-formats-4 > li {
      width: 25%; }
    .snax .snax-formats-5 > li {
      width: 33.33333%; }
    .snax .snax-formats-6 > li {
      width: 33.33333%; }
    .snax .snax-formats-7 > li {
      width: 25%; }
    .snax .snax-formats-8 > li {
      width: 25%; } }
  @media only screen and (min-width: 1025px) {
    .snax .snax-formats .snax-format {
      padding-left: 30px;
      padding-right: 30px; } }
  @media only screen and (min-width: 820px) {
    .snax .snax-form-frontend-without-media .snax-form-main {
      width: 66.66667%;
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto; } }
  .snax .snax-object-container .g1-fluid-wrapper,
  .snax .snax-item-embed-code .g1-fluid-wrapper {
    margin-bottom: 0; }
  .snax .snax-item-embed-code {
    background: #f6f6f6; }
    .snax .snax-item-embed-code iframe {
      margin: 0 auto; }
    .snax .snax-item-embed-code .twitter-tweet {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 520px !important;
      max-width: 100% !important;
      margin-left: auto !important;
      margin-right: auto !important; }
    .snax .snax-item-embed-code .instagram-media,
    .snax .snax-item-embed-code .instagram-media-registered {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      box-shadow: none !important;
      border-radius: 0 !important; }
    @media only screen and (min-width: 520px) {
      .snax .snax-item-embed-code .twitter-tweet,
      .snax .snax-item-embed-code .instagram-media,
      .snax .snax-item-embed-code .instagram-media-registered {
        border-width: 10px !important;
        border-style: solid !important;
        border-color: #f6f6f6 !important; } }
  .snax .snax-voting-container .snax-voting-container-title {
    margin-bottom: 1rem; }

.snax .snax-wpsl .wp-social-login-provider-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.snax .snax-wpsl .wp-social-login-provider {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px; }

.snax .snax-list-collection-item > div {
  margin-bottom: 0; }
  .snax .snax-list-collection-item > div > a {
    float: none;
    width: auto;
    margin-right: 0;
    margin-bottom: 0.75rem; }

.snax .snax-actions .snax-action-links {
  border-width: 0;
  -webkit-box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.07);
  box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.07); }

@media only screen and (min-width: 1025px) {
  .snax-items .snax-ad-location {
    margin-left: 120px; } }

.entry-tpl-classic .snax-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 1px 0;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #e6e6e6; }

@media only screen and (min-width: 1025px) {
  .entry-tpl-feat-stickies .snax-voting .snax-voting-score strong {
    display: block; }
  .entry-tpl-index-stickies .snax-voting .snax-voting-score strong {
    display: block; }
  .entry-tpl-index-stickies .snax-item-share {
    display: block; }
  .entry-tpl-index-stickies .snax-voting + .snax-item-share {
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #e6e6e6; }
    .entry-tpl-index-stickies .snax-voting + .snax-item-share:hover {
      border-color: transparent; }
  .entry-tpl-index-stickies .snax-item-actions .snax-actions {
    margin-left: 0;
    margin-right: 0; }
  .entry-tpl-index-stickies .snax-item-actions .snax-actions:first-child {
    margin-top: 0; }
  .entry-tpl-index-stickies .snax-item-actions .snax-action-links {
    left: 0;
    right: auto; } }

.snax-button-create:before {
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
  font: 17px/12px "bunchicon";
  content: "\e02a"; }

.g1-canvas-content .snax-button-create {
  width: 100%; }

ul.tagit {
  padding-left: 8px;
  padding-right: 8px;
  border-color: #e6e6e6;
  -webkit-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out;
  -moz-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out;
  -o-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out;
  transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out; }
  ul.tagit li.tagit-new input {
    height: auto; }
  ul.tagit li.tagit-choice {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border-color: #e6e6e6;
    background-color: #e6e6e6; }
  ul.tagit li.tagit-choice:hover,
  ul.tagit li.tagit-choice.remove {
    background-color: #bbcef1;
    border-color: #bbcef1; }

ul.tagit-focus {
  border-color: currentColor; }

.snax-item-embed-facebook {
  text-align: center; }
